@font-face {
    font-family: 'Avengero';
    src: local('Avengero'), url(./../../src/fonts/Avengero.ttf) format('truetype')
}

.home-cover-image {
    font-family: 'Righteous', cursive;
    width: 100%;
    color: whitesmoke;
    position: relative;
    overflow: hidden;
    text-align: center;
    
    img {
        margin-top: -100px;
        margin-bottom: -260px;
        width: 100%;
        height: 90vh;
    }

    .img-text-1 {
        overflow: hidden;
        border-right: .15em solid ;
        // border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .10em;
        font-size: 25px;
        text-shadow: 3px 3px black;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: typing 4s steps(45, end) 1s 1 normal both, blink-caret .75s step-end infinite, blink-caret-end .5s steps(40) 5s infinite normal;
    }
    .img-text-2 {
        overflow: hidden;
        border-right: .15em solid ;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .10em;
        font-size: 22px;
        text-shadow: 3px 3px black;

        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: typing2 4s steps(45, end) 6s 1 normal both, blink-caret-start .5s steps(40) 6s normal, blink-caret .75s step-end infinite;
    }
}

.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    
    .filter-links {
        display: flex;
        justify-content: space-around;

        .btn {
            width: 100%;
            font-weight: lighter;
            // font-family: Rebellion;
            font-family: 'Avengero';
            text-transform: uppercase;
            color: white;
        }
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 21em;}
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 26.5em;}
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: $dark-redish;}
}

@keyframes blink-caret-end {
    0% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes blink-caret-start {
    0% {
        border-right-color: transparent;
    }
    100% {
        // border-right-color: orange;
        border-right-color: transparent;
    }
}